/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/*---------- Re-usable Classes ----------*/
.flex {
  display: flex;
}
.btn {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 15px 50px;
  font-size: 25px;
  border-radius: 55px;
}
.orange-color {
  color: rgb(233, 151, 0);
}
.mr-9 {
  margin-right: 9%;
}
.ml-9 {
  margin-left: 9%;
}
.half-width {
  width: 50%;
}

/* -------------------------------- */

/* NAV SECTION */
nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 6px -10px black;
  padding: 20px 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1020;
  background-color: rgb(245, 245, 245);
}

.navbar a {
  text-decoration: none;
  color: black;
}

nav.navbar .nav-logo {
  font-size: 1.5rem;
}
nav.navbar .nav-link {
  font-size: 1.2rem;
}
nav.navbar .nav-link a {
  margin-right: 15px;
}

/* HEADER SECTION */
section.header {
  z-index: 1;
  background-color: rgb(245, 245, 245);
}

.heading-text h1 {
  font-size: 75px;
  margin-top: 7rem;
  color: rgb(90, 90, 90);
}

.heading-text p {
  font-size: 25px;
  margin: 3rem 0 5rem 0;
}

/* ABOUT SECTION */
section.about {
  background-image: url(images/7.png);
  background-repeat: no-repeat;
  background-size: cover;
}
section.about .about-content {
  justify-content: center;
  align-items: center;
}
section.about .about-content .about-txt {
  padding: 150px 0;
}
section.about .about-content .about-txt h1 {
  font-size: 60px;
  padding-bottom: 40px;
  color: rgb(90, 90, 90);
}
section.about .about-content .about-txt p {
  font-size: 25px;
  padding-bottom: 80px;
}

/* MY RECIPIES */
.recipies-heading {
  margin-top: 8rem;
  text-align: center;
  padding-right: 150px;
  padding-left: 150px;
}

.recipies-heading h1 {
  font-size: 60px;
  color: rgb(90, 90, 90);
  padding-bottom: 30px;
}

.recipies-heading p {
  font-size: 25px;
  padding-bottom: 80px;
}

.recipies-card .card {
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px 30px 30px 30px;
  margin-bottom: 10rem;
}

.recipies-card .card p {
  padding-right: 30px;
  font-size: 25px;
  padding-top: 30px;
}
.recipies-card .card h1 {
  font-size: 40px;
  margin-top: 40px;
}

.card-img {
  width: 100%;
}
.recipies-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  align-items: center;
  justify-content: center;
}

.social {
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-right: 6%;
  margin-left: 6%;
  padding: 100px 250px;
  margin-bottom: 10rem;
}

.social h1 {
  font-size: 50px;
}
.social p {
  font-size: 20px;
  margin-top: 0.5rem;
}

/* FOOTER */
footer.footer {
  color: white;
  background-color: rgb(34, 34, 34);
  text-align: center;
  padding: 60px 0 30px;
}
.footer h1 {
  font-size: 50px;
}

.min-footer {
  /* margin-top: 1rem; */
  padding-top: 60px;
  color: rgb(187, 187, 187);
}
